
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/User/css/Home/IndexCSS.css" rel="stylesheet" />
<div class="row">
    <div class="row-box">
        <marquee style="color: red; font-weight: bold; font-size: 20px;">Chú ý: Bạn đang đọc một dòng chữ bằng tiếng Việt.</marquee>
    </div>
</div>
<style>
    .mySlides {
        display: none;
    }
</style>
<div class="content-header">
    <div class="banner">
        <div class="banner-left">
            @foreach (var i in Model.Banners)
            {
                <img class="mySlides" src="~/images/banners/@i.Banner_Image" alt="banner">
            }

            <div class="btn-banner">
                <button onclick="plusDivs(-1)">&#10094;</button>
                <button onclick="plusDivs(1)">&#10095;</button>
            </div>
        </div>
        <div class="banner-right">
            <img src="~/images/ads/1.png" alt="banner" />
            <img src="~/images/ads/2.png" alt="banner" />
        </div>
    </div>
    <div class="menu">
        <h4><i class="fas fa-list"></i> Danh mục sản phẩm</h4>
        <ul>
            @foreach (var c in Model.Categories)
            {
                <li><a asp-controller="ProductByCategory" asp-action="Index" asp-route-id="@c.Category_Id">@c.Category_Name</a></li>
            }
        </ul>
    </div>
</div>
<!-- end container -->
<div class="product">
    <div class="product-brand">
        <h4>ĐIỆN THOẠI BÁN CHẠY</h4>
        <a asp-controller="Product" asp-action="BestSellingProducts">Xem thêm</a>
    </div>
    <div class="product-row">
        <ul>
            @foreach (var p in Model.ProductsBestSelling)
            {
                <li>
                    <div class="product-box">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Product_Id">
                            <div class="image">
                                <img src="~/images/products/@p.Product_ImageThumbnail" alt="image">
                            </div>
                            <h5>@p.Product_Name</h5>
                            <div class="price">
                                <p>
                                    <b>@p.Product_Price.ToString("#,###")₫</b>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="product">
    <div class="product-brand">
        <h4>ĐIỆN THOẠI YÊU THÍCH</h4>
        <a asp-controller="Product" asp-action="PreferredProducts">Xem thêm</a>
    </div>
    <div class="product-row">
        <ul>
            @foreach (var p in Model.PreferredProducts)
            {
                <li>
                    <div class="product-box">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Product_Id">
                            <div class="image">
                                <img src="~/images/products/@p.Product_ImageThumbnail" alt="image">
                            </div>
                            <h5>@p.Product_Name</h5>
                            <div class="price">
                                <p>
                                    <b>@p.Product_Price.ToString("#,###")₫</b>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>

<div class="product">
    <div class="product-brand">
        <h4>TẤT CẢ ĐIỆN THOẠI</h4>
        <a asp-controller="Product" asp-action="AllProducts">Xem thêm</a>
    </div>
    <div class="product-row">
        <ul>
            @foreach (var p in Model.Products)
            {
                <li>
                    <div class="product-box">
                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@p.Product_Id">
                            <div class="image">
                                <img src="~/images/products/@p.Product_ImageThumbnail" alt="image">
                            </div>
                            <h5>@p.Product_Name</h5>
                            <div class="price">
                                <p>
                                    <b>@p.Product_Price.ToString("#,###")₫</b>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>



<script>
    var slideIndex = 1;

    showDivs(slideIndex);

    var time = setInterval(function () { plusDivs() }, 3000);

    function plusDivs() {
        showDivs(slideIndex += 1);
        clearTimeout(time);
        time = setInterval(function () { plusDivs() }, 3000);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length };
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
    }

</script>