@model Account
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Admin/css/AccountManagement/ChangePassword.css" rel="stylesheet" />
<div class="wrapper-content">
    <h2>ĐỔI MẬT KHẨU NGƯỜI DÙNG</h2>
    <form class="form" asp-controller="AccountManagement" asp-action="ChangePassword" method="POST">     
        <div class="info-box">
            <div class="info__left">
                <h3>THÔNG TIN NGƯỜI DÙNG</h3>
                <table>
                    <tr>
                        <td><b>Họ tên:</b></td>
                        <td>@Model.Account_FullName</td>
                    </tr>
                    <tr>
                        <td><b>Email:</b></td>
                        <td>@Model.Account_Email</td>
                    </tr>
                    <tr>
                        <td><b>Điện thoại:</b></td>
                        <td>@Model.Account_PhoneNumber</td>
                    </tr>
                    <tr>
                        <td><b>Giới tính:</b></td>
                        <td>@Model.Account_Sex</td>
                    </tr>
                    <tr>
                        <td><b>Quyền:</b></td>
                        <td>@Model.Account_Permission</td>
                    </tr>
                    <tr>
                        <td><b>Trạng thái:</b></td>
                        @if (Model.Account_IsBlocked == false)
                        {
                            <td style="color: green; font-weight: bold;">Hoạt động</td>
                        }
                        else
                        {
                            <td style="color: red; font-weight: bold;">Bị khóa</td>
                        }
                    </tr>
                </table>
            </div>
            <div class="info__right">
                <h3>THAY ĐỔI MẬT KHẨU</h3>
                <input asp-for="Account_Password" type="password" value="" required placeholder="MẬT KHẨU MỚI">
                <input asp-for="Account_ConfirmPassword" type="password" value="" required placeholder="XÁC NHẬN MẬT KHẨU">
                <span asp-validation-for="Account_ConfirmPassword" style="color: red; display: block; margin-top: 5px;"></span>
            </div>
            <div class="info__bottom">
                <button class="btn-cancel" onclick="location.href='../'" type="button">HỦY</button>
                <button class="btn-save" type="submit" onclick="return check();">LƯU</button>
            </div>
        </div>
    </form>
</div>

<script>
    function check() {
        if (document.getElementById('Account_Password').value !=
            document.getElementById('Account_ConfirmPassword').value) {
            alert("Nhập lại mật khẩu không khớp.");
            return false;
        }
    }
</script>


